.title{
    background-color: rgb(255, 187, 52) ;
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    text-align: center;
}
.title>h1{
    color: orange;
}
.title>p{
    color: white;
    font-size: 20px;
}

/* COMMON CLASS */
.common{
    background-color: #ddd;
    padding: 30px;
    margin: 30px;
    border: 3px solid #ccc;
}
.cssOutline{
    outline: 3px solid #000;
    border-radius: 10px;
}
/* P2 */


/* p3 */
.cssOverflow>p{
    text-align: justify;
    line-height: 2;
    border: 2px solid black;
    padding: 20px;
    width: 300px;
    height: 300px;
    overflow: auto;
}
.cssOverflow>p:last-child{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* p4 */
.cssWhiteSpace{
    white-space: pre-wrap;
}

/* p5 */
.cssUnits>h3:nth-child(2){
    margin: 0.5in; /*inches*/
}
.cssUnits>h3:nth-child(3){
    line-height: 3cm;  /*centimeters */
}
.cssUnits>h3:nth-child(4){
    word-spacing: 4mm;
}
.cssUnits>h3:nth-child(5){
    font-size: 12pt; /*points*/
}
.cssUnits>h3:nth-child(6){
    font-size: 1pc;   /*picas*/
}
.cssUnits>h3:nth-child(7){
    font-size: 12px;   /*pixel*/
}  